#articles-list {
    margin-top: 20px;
    margin-bottom: 25px;
}
#articles-title {
    font-size: 22px;
    color: #404040;
    font-weight: 500;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: left;
    margin-right: 10px;
}

p {
    font-size: 15px;
    font-weight: 400;
}