.main {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  margin-top: 80px;
}

a {
  width: 550;
}

h1 {
  margin-top: 100px;
  font-weight: 700;
}

h3, h4 {
  margin-bottom: 0;
  font-weight: 700;
}

.article-list-item {
  color: black;
  padding: 16px 0 0 0;
}

.article-list-item:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.article-list-item h3 {
  margin-top: 50px;

}

.article-list-item p {
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}

.comments-list h6 + p {
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #bdbdbd5d;
  border-radius: 5px;
  padding: 8px;
}

.add-comment-form {
  display: flex;
  justify-content: center;
  margin: 70px;
}

.add-comment-form Button {
  margin-top: -10px;
}

.add-comment-form Form {
  display: block;
  width: 40%;
}
